parameters:

    ignoreErrors:
        - '#Call to an undefined method DateTimeInterface::add\(\)#'
        - '#Call to an undefined method DateTimeInterface::modify\(\)#'
        - '#Call to an undefined method DateTimeInterface::setDate\(\)#'
        - '#Call to an undefined method DateTimeInterface::setTime\(\)#'
        - '#Call to an undefined method DateTimeInterface::setTimezone\(\)#'
        - '#Call to an undefined method DateTimeInterface::sub\(\)#'
        - identifier: missingType.iterableValue
        - '#Binary operation "%" between string and int<0, max> results in an error.#'
        - '#Binary operation "%" between 0\|1\|string and int<0, max> results in an error.#'
        - '#Binary operation "%=" between string and 7 results in an error.#'

    level: max

    paths:
        - src/
