parameters:

    ignoreErrors:
        - '#Call to an undefined method DateTimeInterface::add\(\)#'
        - '#Call to an undefined method DateTimeInterface::modify\(\)#'
        - '#Call to an undefined method DateTimeInterface::setDate\(\)#'
        - '#Call to an undefined method DateTimeInterface::setTime\(\)#'
        - '#Call to an undefined method DateTimeInterface::setTimezone\(\)#'
        - '#Call to an undefined method DateTimeInterface::sub\(\)#'
        - '#Method Cron\\CronExpression::getRunDate\(\) should return DateTime but returns DateTimeInterface.#'

    level: 8

    paths:
        - src/
